USE [master]
GO
/****** Object:  Database [Phan_Mem_Spa]    Script Date: 09/05/2026 8:07:22 CH ******/
CREATE DATABASE [Phan_Mem_Spa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phan_Mem_Spa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Phan_Mem_Spa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Phan_Mem_Spa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Phan_Mem_Spa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phan_Mem_Spa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phan_Mem_Spa]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 09/05/2026 8:07:22 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] IDENTITY(1,1) NOT NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[DiemTichLuy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_KhachHang_VIP]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_KhachHang_VIP]
AS
SELECT 
    MaKhachHang,
    TenKhachHang,
    SoDienThoai,
    DiemTichLuy,
    CASE 
        WHEN DiemTichLuy >= 500 THEN N'VIP'
        ELSE N'Thường'
    END AS LoaiKhachHang
FROM KhachHang
GO
/****** Object:  Table [dbo].[NhapHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHang](
	[MaNhap] [int] IDENTITY(1,1) NOT NULL,
	[MaNCC] [int] NULL,
	[NgayNhap] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietNhap]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietNhap](
	[MaNhap] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhap] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaNhanVien] [int] NULL,
	[NgayLap] [datetime] NULL,
	[TongTien] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_GiaoDich]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CÁC THỦ TỤC CHỨC NĂNG QUẢN LÝ GIAO DỊCH
--TẠO VIEW CHUNG
CREATE VIEW [dbo].[vw_GiaoDich]
AS

-- HÓA ĐƠN
SELECT 
    hd.MaHoaDon AS MaGiaoDich,
    hd.NgayLap AS Ngay,
    N'Hóa đơn' AS LoaiGiaoDich,
    CAST(hd.MaKhachHang AS NVARCHAR(50)) AS DoiTuong,
    hd.TongTien
FROM HoaDon hd

UNION ALL

-- NHẬP HÀNG
SELECT 
    nh.MaNhap AS MaGiaoDich,
    nh.NgayNhap AS Ngay,
    N'Nhập hàng' AS LoaiGiaoDich,
    CAST(nh.MaNCC AS NVARCHAR(50)) AS DoiTuong,
    ISNULL(ct.TotalTien,0) AS TongTien
FROM NhapHang nh
LEFT JOIN
(
    SELECT MaNhap, SUM(SoLuong * GiaNhap) AS TotalTien
    FROM ChiTietNhap
    GROUP BY MaNhap
) ct ON nh.MaNhap = ct.MaNhap
GO
/****** Object:  Table [dbo].[BangLuong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BangLuong](
	[MaLuong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[Thang] [int] NULL,
	[Nam] [int] NULL,
	[Luong] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLuong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChamCong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChamCong](
	[MaChamCong] [int] IDENTITY(1,1) NOT NULL,
	[MaNhanVien] [int] NULL,
	[Ngay] [date] NULL,
	[GioVao] [time](7) NULL,
	[GioRa] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChamCong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [int] NOT NULL,
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[Gia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDanhMuc] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDanhMuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDichVu] [int] IDENTITY(1,1) NOT NULL,
	[TenDichVu] [nvarchar](100) NULL,
	[Gia] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichDat]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichDat](
	[MaLich] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[MaNhanVien] [int] NULL,
	[MaPhong] [int] NULL,
	[MaDichVu] [int] NULL,
	[ThoiGian] [datetime] NULL,
	[TrangThai] [nvarchar](20) NULL,
	[ThoiGianKetThuc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[LuongCoBan] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenPhong] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](100) NULL,
	[MaDanhMuc] [int] NULL,
	[GiaNhap] [float] NULL,
	[GiaBan] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamUuDai]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamUuDai](
	[MaSanPham] [int] NOT NULL,
	[MaUuDai] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC,
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SoQuy]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoQuy](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[Loai] [nvarchar](20) NULL,
	[SoTien] [float] NULL,
	[MoTa] [nvarchar](255) NULL,
	[Ngay] [datetime] NULL,
	[LoaiLienKet] [nvarchar](50) NULL,
	[MaLienKet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTaiKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[VaiTro] [nvarchar](20) NULL,
	[MaNhanVien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TonKho]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TonKho](
	[MaSanPham] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UuDaiKhachHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UuDaiKhachHang](
	[MaUuDai] [int] IDENTITY(1,1) NOT NULL,
	[DiemToiThieu] [int] NULL,
	[TenMuc] [nvarchar](50) NULL,
	[PhanTramGiam] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaUuDai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BangLuong] ON 

INSERT [dbo].[BangLuong] ([MaLuong], [MaNhanVien], [Thang], [Nam], [Luong]) VALUES (1, 1, 4, 2026, 12000000)
INSERT [dbo].[BangLuong] ([MaLuong], [MaNhanVien], [Thang], [Nam], [Luong]) VALUES (2, 2, 4, 2026, 8000000)
SET IDENTITY_INSERT [dbo].[BangLuong] OFF
GO
SET IDENTITY_INSERT [dbo].[ChamCong] ON 

INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [Ngay], [GioVao], [GioRa]) VALUES (1, 1, CAST(N'2026-04-22' AS Date), CAST(N'08:00:00' AS Time), CAST(N'17:00:00' AS Time))
INSERT [dbo].[ChamCong] ([MaChamCong], [MaNhanVien], [Ngay], [GioVao], [GioRa]) VALUES (2, 2, CAST(N'2026-04-22' AS Date), CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[ChamCong] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong], [Gia]) VALUES (1, 1, 1, 350000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong], [Gia]) VALUES (1, 6, 1, 500000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaSanPham], [SoLuong], [Gia]) VALUES (2, 8, 1, 1200000)
GO
INSERT [dbo].[ChiTietNhap] ([MaNhap], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (1, 1, 30, 180000)
INSERT [dbo].[ChiTietNhap] ([MaNhap], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (1, 2, 20, 150000)
INSERT [dbo].[ChiTietNhap] ([MaNhap], [MaSanPham], [SoLuong], [GiaNhap]) VALUES (2, 3, 10, 700000)
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (1, N'Mỹ phẩm chăm sóc da')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (2, N'Thiết bị spa')
INSERT [dbo].[DanhMuc] ([MaDanhMuc], [TenDanhMuc]) VALUES (3, N'Thực phẩm chức năng')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [Gia]) VALUES (1, N'Massage body đá nóng', 600000)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [Gia]) VALUES (2, N'Chăm sóc da chuyên sâu', 800000)
INSERT [dbo].[DichVu] ([MaDichVu], [TenDichVu], [Gia]) VALUES (3, N'Gội đầu dưỡng sinh', 250000)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaNhanVien], [NgayLap], [TongTien]) VALUES (1, 1, 2, CAST(N'2026-04-22T10:00:00.000' AS DateTime), 850000)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaNhanVien], [NgayLap], [TongTien]) VALUES (2, 2, 2, CAST(N'2026-04-22T11:00:00.000' AS DateTime), 1200000)
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaKhachHang], [MaNhanVien], [NgayLap], [TongTien]) VALUES (3, 3, 3, CAST(N'2026-04-22T12:00:00.000' AS DateTime), 600000)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiemTichLuy]) VALUES (1, N'Nguyễn Thu Hà', N'0901111111', 800)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiemTichLuy]) VALUES (2, N'Trần Quỳnh Mai', N'0902222222', 250)
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [SoDienThoai], [DiemTichLuy]) VALUES (3, N'Phạm Đức Long', N'0903333333', 50)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LichDat] ON 

INSERT [dbo].[LichDat] ([MaLich], [MaKhachHang], [MaNhanVien], [MaPhong], [MaDichVu], [ThoiGian], [TrangThai], [ThoiGianKetThuc]) VALUES (1, 1, 2, 1, 1, CAST(N'2026-04-22T09:00:00.000' AS DateTime), N'DaLam', CAST(N'2026-04-22T10:00:00.000' AS DateTime))
INSERT [dbo].[LichDat] ([MaLich], [MaKhachHang], [MaNhanVien], [MaPhong], [MaDichVu], [ThoiGian], [TrangThai], [ThoiGianKetThuc]) VALUES (2, 2, 2, 1, 2, CAST(N'2026-04-22T10:00:00.000' AS DateTime), N'DaLam', CAST(N'2026-04-22T11:00:00.000' AS DateTime))
INSERT [dbo].[LichDat] ([MaLich], [MaKhachHang], [MaNhanVien], [MaPhong], [MaDichVu], [ThoiGian], [TrangThai], [ThoiGianKetThuc]) VALUES (3, 3, 3, 2, 3, CAST(N'2026-04-22T11:00:00.000' AS DateTime), N'DaLam', CAST(N'2026-04-22T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[LichDat] OFF
GO
SET IDENTITY_INSERT [dbo].[NhaCungCap] ON 

INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai]) VALUES (1, N'Công ty TNHH L’Oréal Việt Nam', N'02838211111')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai]) VALUES (2, N'Công ty TNHH Shiseido Việt Nam', N'02839300000')
INSERT [dbo].[NhaCungCap] ([MaNCC], [TenNCC], [SoDienThoai]) VALUES (3, N'Công ty TNHH Unilever Việt Nam', N'02838224444')
SET IDENTITY_INSERT [dbo].[NhaCungCap] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SoDienThoai], [ChucVu], [LuongCoBan]) VALUES (1, N'Nguyễn Văn Huy', N'0912345678', N'Quản lý', 12000000)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SoDienThoai], [ChucVu], [LuongCoBan]) VALUES (2, N'Trần Thị Lan', N'0987654321', N'Kỹ thuật viên', 8000000)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [SoDienThoai], [ChucVu], [LuongCoBan]) VALUES (3, N'Lê Minh Tuấn', N'0978123456', N'Lễ tân', 6500000)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhapHang] ON 

INSERT [dbo].[NhapHang] ([MaNhap], [MaNCC], [NgayNhap]) VALUES (1, 1, CAST(N'2026-04-17T00:25:14.087' AS DateTime))
INSERT [dbo].[NhapHang] ([MaNhap], [MaNCC], [NgayNhap]) VALUES (2, 2, CAST(N'2026-04-19T00:25:14.087' AS DateTime))
INSERT [dbo].[NhapHang] ([MaNhap], [MaNCC], [NgayNhap]) VALUES (3, 3, CAST(N'2026-04-20T00:25:14.087' AS DateTime))
SET IDENTITY_INSERT [dbo].[NhapHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Phong] ON 

INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TrangThai]) VALUES (1, N'Phòng VIP 1', N'Trong')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TrangThai]) VALUES (2, N'Phòng VIP 2', N'Trong')
INSERT [dbo].[Phong] ([MaPhong], [TenPhong], [TrangThai]) VALUES (3, N'Phòng Thường 1', N'DangSuDung')
SET IDENTITY_INSERT [dbo].[Phong] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaDanhMuc], [GiaNhap], [GiaBan]) VALUES (1, N'Sữa rửa mặt La Roche-Posay', 1, 180000, 250000)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaDanhMuc], [GiaNhap], [GiaBan]) VALUES (2, N'Toner Hada Labo', 1, 150000, 220000)
INSERT [dbo].[SanPham] ([MaSanPham], [TenSanPham], [MaDanhMuc], [GiaNhap], [GiaBan]) VALUES (3, N'Máy xông hơi mặt', 2, 700000, 950000)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[SanPhamUuDai] ([MaSanPham], [MaUuDai]) VALUES (1, 1)
INSERT [dbo].[SanPhamUuDai] ([MaSanPham], [MaUuDai]) VALUES (2, 1)
INSERT [dbo].[SanPhamUuDai] ([MaSanPham], [MaUuDai]) VALUES (3, 1)
GO
SET IDENTITY_INSERT [dbo].[SoQuy] ON 

INSERT [dbo].[SoQuy] ([MaGiaoDich], [Loai], [SoTien], [MoTa], [Ngay], [LoaiLienKet], [MaLienKet]) VALUES (4, N'Chi', 8400000, N'Nhập hàng #1', CAST(N'2026-04-17T00:25:14.087' AS DateTime), N'NhapHang', 1)
INSERT [dbo].[SoQuy] ([MaGiaoDich], [Loai], [SoTien], [MoTa], [Ngay], [LoaiLienKet], [MaLienKet]) VALUES (5, N'Chi', 14500000, N'Nhập hàng #2', CAST(N'2026-04-19T00:25:14.087' AS DateTime), N'NhapHang', 2)
INSERT [dbo].[SoQuy] ([MaGiaoDich], [Loai], [SoTien], [MoTa], [Ngay], [LoaiLienKet], [MaLienKet]) VALUES (6, N'Chi', 10000000, N'Nhập hàng #3', CAST(N'2026-04-20T00:25:14.087' AS DateTime), N'NhapHang', 3)
SET IDENTITY_INSERT [dbo].[SoQuy] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [MaNhanVien]) VALUES (3, N'admin', N'123', N'Admin', 1)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [MaNhanVien]) VALUES (4, N'nv01', N'123', N'NhanVien', 2)
INSERT [dbo].[TaiKhoan] ([MaTaiKhoan], [TenDangNhap], [MatKhau], [VaiTro], [MaNhanVien]) VALUES (5, N'nv02', N'123', N'NhanVien', 3)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
INSERT [dbo].[TonKho] ([MaSanPham], [SoLuong]) VALUES (1, 16)
INSERT [dbo].[TonKho] ([MaSanPham], [SoLuong]) VALUES (2, 20)
INSERT [dbo].[TonKho] ([MaSanPham], [SoLuong]) VALUES (3, 7)
GO
SET IDENTITY_INSERT [dbo].[UuDaiKhachHang] ON 

INSERT [dbo].[UuDaiKhachHang] ([MaUuDai], [DiemToiThieu], [TenMuc], [PhanTramGiam]) VALUES (1, 500, N'VIP', 15)
SET IDENTITY_INSERT [dbo].[UuDaiKhachHang] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC02222A90E]    Script Date: 09/05/2026 8:07:23 CH ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [DiemTichLuy]
GO
ALTER TABLE [dbo].[BangLuong]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChamCong]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietNhap]  WITH CHECK ADD FOREIGN KEY([MaNhap])
REFERENCES [dbo].[NhapHang] ([MaNhap])
GO
ALTER TABLE [dbo].[ChiTietNhap]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD FOREIGN KEY([MaDichVu])
REFERENCES [dbo].[DichVu] ([MaDichVu])
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[LichDat]  WITH CHECK ADD FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[NhapHang]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NhaCungCap] ([MaNCC])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaDanhMuc])
REFERENCES [dbo].[DanhMuc] ([MaDanhMuc])
GO
ALTER TABLE [dbo].[SanPhamUuDai]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[SanPhamUuDai]  WITH CHECK ADD FOREIGN KEY([MaUuDai])
REFERENCES [dbo].[UuDaiKhachHang] ([MaUuDai])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[TonKho]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [CHK_TrangThaiPhong] CHECK  (([TrangThai]=N'BaoTri' OR [TrangThai]=N'DangSuDung' OR [TrangThai]=N'Trong'))
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [CHK_TrangThaiPhong]
GO
ALTER TABLE [dbo].[SoQuy]  WITH CHECK ADD  CONSTRAINT [CHK_Loai] CHECK  (([Loai]=N'Chi' OR [Loai]=N'Thu'))
GO
ALTER TABLE [dbo].[SoQuy] CHECK CONSTRAINT [CHK_Loai]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_DoanhThu]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BaoCao_DoanhThu]
@SoNgay INT
AS
BEGIN
    SELECT 
        CAST(NgayLap AS DATE) AS Ngay,
        SUM(TongTien) AS DoanhThu
    FROM HoaDon
    WHERE NgayLap >= DATEADD(DAY, -@SoNgay, GETDATE())
    GROUP BY CAST(NgayLap AS DATE)
    ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_DoanhThu_ChiTiet]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- doanh thu chi tiét
CREATE PROC [dbo].[sp_BaoCao_DoanhThu_ChiTiet]
@SoNgay INT
AS
BEGIN
    ;WITH HD AS
    (
        SELECT 
            MaHoaDon,
            TongTien
        FROM HoaDon
        WHERE CAST(NgayLap AS DATE) >= CAST(DATEADD(DAY, -@SoNgay, GETDATE()) AS DATE)
    )

    -- dòng tổng (đưa lên đầu)
    SELECT 
        NULL AS MaHoaDon,
        NULL AS TongTien,
        SUM(TongTien) AS TongDoanhThu
    FROM HD

    UNION ALL

    -- dữ liệu hóa đơn
    SELECT 
        MaHoaDon,
        TongTien,
        CAST(NULL AS FLOAT) AS TongDoanhThu
    FROM HD
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCao_TonKho]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BaoCao_TonKho]
AS
BEGIN
    SELECT 
        sp.TenSanPham,
        tk.SoLuong
    FROM TonKho tk
    JOIN SanPham sp ON tk.MaSanPham = sp.MaSanPham
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ConTonHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConTonHang]
AS
BEGIN
    SELECT SP.MaSanPham, SP.TenSanPham, SP.GiaBan, TK.SoLuong
    FROM SanPham SP
    JOIN TonKho TK ON SP.MaSanPham = TK.MaSanPham
    WHERE TK.SoLuong > 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DaHetHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DaHetHang]
AS
BEGIN
    SELECT SP.MaSanPham, SP.TenSanPham, SP.GiaBan, TK.SoLuong
    FROM SanPham SP
    JOIN TonKho TK ON SP.MaSanPham = TK.MaSanPham
    WHERE TK.SoLuong <= 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DangNhap]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DangNhap]
    @TenDangNhap NVARCHAR(50),
    @MatKhau NVARCHAR(50)
AS
BEGIN
    DECLARE @VaiTro NVARCHAR(20)

    SELECT @VaiTro = VaiTro
    FROM TaiKhoan
    WHERE TenDangNhap = @TenDangNhap
      AND MatKhau = @MatKhau

    -- Nếu không tồn tại → trả NULL
    SELECT @VaiTro AS VaiTro
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachThuong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachThuong]
AS
BEGIN
    SELECT *
    FROM KhachHang
    WHERE DiemTichLuy < 100
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DanhSachVIP]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DanhSachVIP]
AS
BEGIN
    SELECT *
    FROM KhachHang
    WHERE DiemTichLuy >= 100
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu30Ngay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoanhThu30Ngay]
AS
BEGIN
    SELECT ISNULL(SUM(TongTien), 0) AS DoanhThu30Ngay
    FROM HoaDon
    WHERE NgayLap >= DATEADD(DAY, -30, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu7Ngay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoanhThu7Ngay]
AS
BEGIN
    SELECT ISNULL(SUM(TongTien), 0) AS DoanhThu7Ngay
    FROM HoaDon
    WHERE NgayLap >= DATEADD(DAY, -7, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThuHomNay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DoanhThuHomNay]
AS
BEGIN
    DECLARE @Ngay DATE = CAST(GETDATE() AS DATE)

    SELECT ISNULL(SUM(TongTien), 0) AS DoanhThu
    FROM HoaDon
    WHERE NgayLap >= @Ngay
      AND NgayLap < DATEADD(DAY, 1, @Ngay)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoDich_ByDate]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaoDich_ByDate]
    @FromDate DATETIME,
    @ToDate DATETIME
AS
BEGIN
    SELECT * FROM vw_GiaoDich
    WHERE Ngay BETWEEN @FromDate AND @ToDate
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoDich_ByType]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaoDich_ByType]
    @Loai NVARCHAR(50)
AS
BEGIN
    SELECT * FROM vw_GiaoDich
    WHERE LoaiGiaoDich = @Loai
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaoDich_GetAll]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GiaoDich_GetAll]
AS
BEGIN
    SELECT * FROM vw_GiaoDich ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachDangPhucVu]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachDangPhucVu]
AS
BEGIN
    DECLARE @Ngay DATE = CAST(GETDATE() AS DATE)

    SELECT COUNT(DISTINCT MaKhachHang) AS SoLuong
    FROM LichDat
    WHERE TrangThai = N'DangLam'
      AND ThoiGian >= @Ngay
      AND ThoiGian < DATEADD(DAY, 1, @Ngay)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KhachSapDen]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_KhachSapDen]
AS
BEGIN
    DECLARE @Ngay DATE = CAST(GETDATE() AS DATE)

    SELECT COUNT(DISTINCT MaKhachHang) AS SoLuong
    FROM LichDat
    WHERE TrangThai = N'Cho'
      AND ThoiGian >= @Ngay
      AND ThoiGian < DATEADD(DAY, 1, @Ngay)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_KiemTraTrungLich]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_KiemTraTrungLich]
@ThoiGian DATETIME
AS
BEGIN
    SELECT COUNT(*) 
    FROM LichDat
    WHERE ThoiGian = @ThoiGian
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Lay7Ngay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Lay7Ngay]
AS
BEGIN
    SELECT * FROM SoQuy
    WHERE Ngay >= DATEADD(DAY, -7, GETDATE())
    ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LayPhanTramGiam]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayPhanTramGiam]
    @MaKH INT,
    @MaSP INT
AS
BEGIN
    SELECT TOP 1 ud.PhanTramGiam
    FROM KhachHang kh
    JOIN UuDaiKhachHang ud
        ON kh.DiemTichLuy >= ud.DiemToiThieu
    JOIN SanPhamUuDai spud
        ON ud.MaUuDai = spud.MaUuDai
    WHERE kh.MaKhachHang = @MaKH
    AND spud.MaSanPham = @MaSP
    ORDER BY ud.DiemToiThieu DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LaySoQuy]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LaySoQuy]
AS
BEGIN
    SELECT * FROM SoQuy ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LichLamViec_Tuan]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LichLamViec_Tuan]
@StartDate DATE
AS
BEGIN
    SELECT 
        ld.ThoiGian,
        kh.TenKhachHang,
        ld.MaNhanVien
    FROM LichDat ld
    JOIN KhachHang kh ON ld.MaKhachHang = kh.MaKhachHang
    WHERE CAST(ld.ThoiGian AS DATE)
          BETWEEN @StartDate AND DATEADD(DAY, 6, @StartDate)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LocLoaiVa7Ngay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LocLoaiVa7Ngay]
@Loai NVARCHAR(20)
AS
BEGIN
    SELECT * FROM SoQuy
    WHERE Loai = @Loai
    AND Ngay >= DATEADD(DAY, -7, GETDATE())
    ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_LocTheoLoai]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LocTheoLoai]
@Loai NVARCHAR(20)
AS
BEGIN
    SELECT * FROM SoQuy
    WHERE Loai = @Loai
    ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienLeTan]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhanVienLeTan]
AS
BEGIN
    SELECT *
    FROM NhanVien
    WHERE ChucVu = N'Lễ tân'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_NhanVienSPA]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_NhanVienSPA]
AS
BEGIN
    SELECT *
    FROM NhanVien
    WHERE ChucVu = N'Kỹ thuật viên'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PhongDangHoatDong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Phòng đang hoạt động
CREATE PROCEDURE [dbo].[sp_PhongDangHoatDong]
AS
BEGIN
    SELECT MaPhong, TenPhong, TrangThai
    FROM Phong
    WHERE TrangThai = N'DangSuDung'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_PhongTrong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_PhongTrong]
AS
BEGIN
    SELECT MaPhong, TenPhong, TrangThai
    FROM Phong
    WHERE TrangThai = N'Trong'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SoKhach30Ngay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoKhach30Ngay]
AS
BEGIN
    SELECT COUNT(DISTINCT MaKhachHang) AS SoKhach30Ngay
    FROM HoaDon
    WHERE NgayLap >= DATEADD(DAY, -30, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SoKhach7Ngay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoKhach7Ngay]
AS
BEGIN
    SELECT COUNT(DISTINCT MaKhachHang) AS SoKhach7Ngay
    FROM HoaDon
    WHERE NgayLap >= DATEADD(DAY, -7, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SoKhachTrongNgay]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SoKhachTrongNgay]
AS
BEGIN
    DECLARE @Ngay DATE = CAST(GETDATE() AS DATE)

    SELECT COUNT(DISTINCT MaKhachHang) AS SoLuongKhach
    FROM (
        -- Khách sắp tới + đang làm
        SELECT MaKhachHang
        FROM LichDat
        WHERE ThoiGian >= @Ngay
          AND ThoiGian < DATEADD(DAY, 1, @Ngay)
          AND TrangThai IN (N'Cho', N'DangLam')

        UNION

        -- Khách đã làm (có hóa đơn)
        SELECT MaKhachHang
        FROM HoaDon
        WHERE NgayLap >= @Ngay
          AND NgayLap < DATEADD(DAY, 1, @Ngay)
    ) AS T
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaKhachHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SuaKhachHang]
@MaKhachHang INT,
@TenKhachHang NVARCHAR(100),
@SoDienThoai NVARCHAR(15),
@DiemTichLuy INT
AS
BEGIN
    UPDATE KhachHang
    SET TenKhachHang = @TenKhachHang,
        SoDienThoai = @SoDienThoai,
        DiemTichLuy = @DiemTichLuy
    WHERE MaKhachHang = @MaKhachHang
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaNhanVien]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sửa
CREATE PROC [dbo].[sp_SuaNhanVien]
@MaNhanVien INT,
@TenNhanVien NVARCHAR(100),
@SoDienThoai NVARCHAR(15),
@ChucVu NVARCHAR(50),
@LuongCoBan FLOAT
AS
BEGIN
    UPDATE NhanVien
    SET TenNhanVien = @TenNhanVien,
        SoDienThoai = @SoDienThoai,
        ChucVu = @ChucVu,
        LuongCoBan = @LuongCoBan
    WHERE MaNhanVien = @MaNhanVien
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SuaPhong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SuaPhong]
    @MaPhong INT,
    @TenPhong NVARCHAR(100),
    @TrangThai NVARCHAR(50)
AS
BEGIN
    UPDATE Phong
    SET TenPhong = @TenPhong,
        TrangThai = @TrangThai
    WHERE MaPhong = @MaPhong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TatCaPhong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TatCaPhong]
AS
BEGIN
    SELECT MaPhong, TenPhong, TrangThai
    FROM Phong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TatCaSanPham]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TatCaSanPham]
AS
BEGIN
    SELECT 
        MaSanPham,
        TenSanPham,
        MaDanhMuc,
        GiaNhap,
        GiaBan
    FROM SanPham
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemChiTietHoaDon]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[sp_ThemChiTietHoaDon]
    @MaHoaDon INT,
    @MaSanPham INT,
    @SoLuong INT
AS
BEGIN
    INSERT INTO ChiTietHoaDon(MaHoaDon, MaSanPham, SoLuong, Gia)
    SELECT
        @MaHoaDon,
        MaSanPham,
        @SoLuong,
        GiaBan
    FROM SanPham
    WHERE MaSanPham = @MaSanPham
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKhachHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--THÊM KHÁCH HÀNG
CREATE PROC [dbo].[sp_ThemKhachHang]
@TenKhachHang NVARCHAR(100),
@SoDienThoai NVARCHAR(15),
@DiemTichLuy INT
AS
BEGIN
    INSERT INTO KhachHang(TenKhachHang, SoDienThoai, DiemTichLuy)
    VALUES (@TenKhachHang, @SoDienThoai, @DiemTichLuy)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemKhachHang_nv]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThemKhachHang_nv]
@TenKhachHang NVARCHAR(100),
@SoDienThoai NVARCHAR(15),
@DiemTichLuy INT
AS
BEGIN
    INSERT INTO KhachHang(TenKhachHang, SoDienThoai, DiemTichLuy)
    VALUES(@TenKhachHang, @SoDienThoai, @DiemTichLuy)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemLichDat_nv]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThemLichDat_nv]
@MaKhachHang INT,
@MaNhanVien INT,
@MaPhong INT,
@MaDichVu INT,
@ThoiGian DATETIME
AS
BEGIN
    INSERT INTO LichDat
    (
        MaKhachHang,
        MaNhanVien,
        MaPhong,
        MaDichVu,
        ThoiGian,
        TrangThai
    )
    VALUES
    (
        @MaKhachHang,
        @MaNhanVien,
        @MaPhong,
        @MaDichVu,
        @ThoiGian,
        N'Cho'
    )
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemNhanVien]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--thêm
CREATE PROC [dbo].[sp_ThemNhanVien]
@TenNhanVien NVARCHAR(100),
@SoDienThoai NVARCHAR(15),
@ChucVu NVARCHAR(50),
@LuongCoBan FLOAT
AS
BEGIN
    INSERT INTO NhanVien(TenNhanVien, SoDienThoai, ChucVu, LuongCoBan)
    VALUES (@TenNhanVien, @SoDienThoai, @ChucVu, @LuongCoBan)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemPhong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemPhong]
    @TenPhong NVARCHAR(100),
    @TrangThai NVARCHAR(50)
AS
BEGIN
    INSERT INTO Phong(TenPhong, TrangThai)
    VALUES (@TenPhong, @TrangThai)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSanPham]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemSanPham]
    @TenSanPham NVARCHAR(100),
    @MaDanhMuc INT,
    @GiaNhap FLOAT,
    @GiaBan FLOAT
AS
BEGIN
    INSERT INTO SanPham (TenSanPham, MaDanhMuc, GiaNhap, GiaBan)
    VALUES (@TenSanPham, @MaDanhMuc, @GiaNhap, @GiaBan)

    DECLARE @MaSanPhamMoi INT = SCOPE_IDENTITY()

    INSERT INTO TonKho (MaSanPham, SoLuong)
    VALUES (@MaSanPhamMoi, 0)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemSoQuy]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--các thủ tục chức năng của sổ quỹ
CREATE PROC [dbo].[sp_ThemSoQuy]
@Loai NVARCHAR(20),
@SoTien FLOAT,
@MoTa NVARCHAR(255),
@Ngay DATETIME
AS
BEGIN
    INSERT INTO SoQuy(Loai, SoTien, MoTa, Ngay)
    VALUES (@Loai, @SoTien, @MoTa, @Ngay)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemKhachHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--tìm kiếm khách hàng
CREATE PROC [dbo].[sp_TimKiemKhachHang]
@TuKhoa NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM KhachHang
    WHERE TenKhachHang LIKE '%' + @TuKhoa + '%'
       OR SoDienThoai LIKE '%' + @TuKhoa + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemNhanVien]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--tìm kiếm
CREATE PROC [dbo].[sp_TimKiemNhanVien]
@TuKhoa NVARCHAR(100)
AS
BEGIN
    SELECT *
    FROM NhanVien
    WHERE TenNhanVien LIKE '%' + @TuKhoa + '%'
       OR SoDienThoai LIKE '%' + @TuKhoa + '%'
       OR ChucVu LIKE '%' + @TuKhoa + '%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemSanPham]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_TimKiemSanPham]
    @Ten NVARCHAR(100)
AS
BEGIN
    SELECT 
        SP.MaSanPham,
        SP.TenSanPham,
        SP.MaDanhMuc,
        SP.GiaNhap,
        SP.GiaBan,
        TK.SoLuong
    FROM SanPham SP
    LEFT JOIN TonKho TK ON SP.MaSanPham = TK.MaSanPham
    WHERE SP.TenSanPham LIKE N'%' + @Ten + N'%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimKiemSoQuy]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TimKiemSoQuy]
@MoTa NVARCHAR(255)
AS
BEGIN
    SELECT * FROM SoQuy
    WHERE MoTa LIKE '%' + @MoTa + '%'
    ORDER BY Ngay DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TongChi]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongChi]
AS
BEGIN
    SELECT ISNULL(SUM(SoTien),0) AS TongChi
    FROM SoQuy
    WHERE Loai = N'Chi'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_TongThu]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TongThu]
AS
BEGIN
    SELECT ISNULL(SUM(SoTien),0) AS TongThu
    FROM SoQuy
    WHERE Loai = N'Thu'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaKhachHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--xoá khách hàng
CREATE PROC [dbo].[sp_XoaKhachHang]
@MaKhachHang INT
AS
BEGIN
    DELETE FROM KhachHang
    WHERE MaKhachHang = @MaKhachHang
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaNhanVien]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_XoaNhanVien]
@MaNhanVien INT
AS
BEGIN
    DELETE FROM NhanVien
    WHERE MaNhanVien = @MaNhanVien
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaPhong]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XoaPhong]
    @MaPhong INT
AS
BEGIN
    DELETE FROM Phong
    WHERE MaPhong = @MaPhong
END
GO
/****** Object:  StoredProcedure [dbo].[sp_XoaSanPham]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_XoaSanPham]
    @MaSanPham INT
AS
BEGIN
    DELETE FROM TonKho
    WHERE MaSanPham = @MaSanPham

    DELETE FROM SanPham
    WHERE MaSanPham = @MaSanPham
END
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTonKho_KhiBan]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatTonKho_KhiBan]
ON [dbo].[ChiTietHoaDon]
AFTER INSERT
AS
BEGIN
    UPDATE TK
    SET TK.SoLuong = TK.SoLuong - I.SoLuong
    FROM TonKho TK
    JOIN inserted I ON TK.MaSanPham = I.MaSanPham;
END
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [trg_CapNhatTonKho_KhiBan]
GO
/****** Object:  Trigger [dbo].[trg_KiemTraTonKho]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_KiemTraTonKho]
ON [dbo].[ChiTietHoaDon]
AFTER INSERT, UPDATE
AS
BEGIN
    IF EXISTS (
        SELECT 1
        FROM inserted i
        JOIN TonKho t ON i.MaSanPham = t.MaSanPham
        WHERE i.SoLuong > t.SoLuong
    )
    BEGIN
        RAISERROR (N'Không đủ tồn kho để bán!', 16, 1)
        ROLLBACK TRANSACTION
        RETURN
    END
END
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [trg_KiemTraTonKho]
GO
/****** Object:  Trigger [dbo].[trg_TinhGiamGiaHoaDon]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---
CREATE TRIGGER [dbo].[trg_TinhGiamGiaHoaDon]
ON [dbo].[ChiTietHoaDon]
AFTER INSERT
AS
BEGIN
    DECLARE @MaHoaDon INT
    DECLARE @MaKhachHang INT
    DECLARE @Diem INT
    DECLARE @PhanTramGiam FLOAT

    SELECT TOP 1 @MaHoaDon = MaHoaDon
    FROM inserted

    SELECT @MaKhachHang = MaKhachHang
    FROM HoaDon
    WHERE MaHoaDon = @MaHoaDon

    SELECT @Diem = DiemTichLuy
    FROM KhachHang
    WHERE MaKhachHang = @MaKhachHang

    SELECT TOP 1 @PhanTramGiam = PhanTramGiam
    FROM UuDaiKhachHang
    WHERE DiemToiThieu <= @Diem
    ORDER BY DiemToiThieu DESC

    UPDATE hd
    SET TongTien =
    (
        SELECT SUM(
            CASE
                WHEN spud.MaSanPham IS NOT NULL
                THEN cthd.SoLuong * cthd.Gia * (1 - @PhanTramGiam / 100)
                ELSE cthd.SoLuong * cthd.Gia
            END
        )
        FROM ChiTietHoaDon cthd
        LEFT JOIN SanPhamUuDai spud
            ON cthd.MaSanPham = spud.MaSanPham
        WHERE cthd.MaHoaDon = @MaHoaDon
    )
    FROM HoaDon hd
    WHERE hd.MaHoaDon = @MaHoaDon
END
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ENABLE TRIGGER [trg_TinhGiamGiaHoaDon]
GO
/****** Object:  Trigger [dbo].[trg_CapNhatTonKho_KhiNhap]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CapNhatTonKho_KhiNhap]
ON [dbo].[ChiTietNhap]
AFTER INSERT
AS
BEGIN
    -- Nếu sản phẩm đã có trong tồn kho → cộng thêm
    UPDATE TK
    SET TK.SoLuong = TK.SoLuong + I.SoLuong
    FROM TonKho TK
    JOIN inserted I ON TK.MaSanPham = I.MaSanPham;

    -- Nếu sản phẩm chưa có trong tồn kho → thêm mới
    INSERT INTO TonKho (MaSanPham, SoLuong)
    SELECT I.MaSanPham, I.SoLuong
    FROM inserted I
    WHERE NOT EXISTS (
        SELECT 1 FROM TonKho TK WHERE TK.MaSanPham = I.MaSanPham
    );
END
GO
ALTER TABLE [dbo].[ChiTietNhap] ENABLE TRIGGER [trg_CapNhatTonKho_KhiNhap]
GO
/****** Object:  Trigger [dbo].[trg_CongDiemKhachHang]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_CongDiemKhachHang]
ON [dbo].[HoaDon]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE KhachHang
    SET DiemTichLuy = DiemTichLuy + 50
    FROM KhachHang kh
    INNER JOIN inserted i 
        ON kh.MaKhachHang = i.MaKhachHang
END
GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [trg_CongDiemKhachHang]
GO
/****** Object:  Trigger [dbo].[trg_HoaDon_ThemSoQuy]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_HoaDon_ThemSoQuy]
ON [dbo].[HoaDon]
AFTER INSERT
AS
BEGIN
    INSERT INTO SoQuy (Loai, SoTien, MoTa, Ngay, LoaiLienKet, MaLienKet)
    SELECT 
        N'Thu',
        TongTien,
        N'Hóa đơn #' + CAST(MaHoaDon AS NVARCHAR),
        NgayLap,
        N'HoaDon',
        MaHoaDon
    FROM inserted
END
GO
ALTER TABLE [dbo].[HoaDon] ENABLE TRIGGER [trg_HoaDon_ThemSoQuy]
GO
/****** Object:  Trigger [dbo].[trg_NhapHang_ThemSoQuy]    Script Date: 09/05/2026 8:07:23 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_NhapHang_ThemSoQuy]
ON [dbo].[NhapHang]
AFTER INSERT
AS
BEGIN
    INSERT INTO SoQuy (Loai, SoTien, MoTa, Ngay, LoaiLienKet, MaLienKet)
    SELECT 
        N'Chi',
        SUM(CT.SoLuong * CT.GiaNhap),
        N'Nhập hàng #' + CAST(i.MaNhap AS NVARCHAR),
        i.NgayNhap,
        N'NhapHang',
        i.MaNhap
    FROM inserted i
    JOIN ChiTietNhap CT ON i.MaNhap = CT.MaNhap
    GROUP BY i.MaNhap, i.NgayNhap
END
GO
ALTER TABLE [dbo].[NhapHang] ENABLE TRIGGER [trg_NhapHang_ThemSoQuy]
GO
USE [master]
GO
